body {
    font-family: lato, arial;
    background-color: black;
    padding: .1em; 
}


h2, p, h2, h3 {
    font-weight: 400;
}

h1 {
    font-weight: 900;
}

.row {
    margin: .25em; 
    padding: .2em;
}

.featured-work {
    text-align: center;
    color: darkgoldenrod;
}

.featured-work>div>h2 {
    text-align: left;
    color: darkgoldenrod;
}

.header-row {
    border-bottom: .2em solid grey;
    background-color: white;
    margin-bottom: 1.2em;
}

